html, body, .container-table {
  height: 100%;
}

.col-md-2{
  text-align: center;
}
.container{
  margin: 15px auto;
}
#options{
  margin: 15px 0;
  text-align: center;
}
input.form-control{
  max-width: 80px;
}
.table > tbody > tr{
  height: 51px;
}

.alert{
  margin: 15px 0;
  /* display: none; */
  position: absolute;
  height: 34px;
  padding: 5px 10px;
}

.container-table {
  display: table;
}
.vertical-center-row {	
  display: table-cell;
  vertical-align: middle;
}

.rejected{
  line-height: 60px;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  padding: 15px;
}